<app-titulo class="text-center" [titulo]="'Área do Aluno'"></app-titulo>
<div class="text-center">  
  <div class="container">
    <div class="row">
      <div class="card mr-5" style="width: 18rem;">
        <img src="../../../../../assets/img/area1Aluno.jpg" class="card-img-top" alt="...">
        <div class="card-body" style="margin-top: 50px;">
          <h5 class="card-title">Cursos Disponíveis</h5>          
          <a class="btn btn-primary" routerLink="/listar-cursos">Mostrar</a>
        </div>        
      </div>
      <div class="card mr-5 ml-5" style="width: 18rem;">
        <img src="../../../../../assets/img/area02Aluno.jpg" class="card-img-top" alt="...">
        <div class="card-body" style="margin-top: 60px;">
          <h5 class="card-title">Cadastrar um novo aluno</h5>          
          <a class="btn btn-danger" routerLink="/aluno-cadastro">Cadastrar</a>
        </div>          
      </div>
      <div class="card mr-5 ml-5" style="width: 18rem;">
        <img src="../../../../../assets/img/colecao-de-personagens.png" class="card-img-top" alt="...">
        <div class="card-body" style="margin-top: 50px;">
          <h5 class="card-title">Professores</h5>          
          <a class="btn btn-warning" routerLink="/listar-professor">Mostrar</a>
        </div>        
      </div>
  </div>
  <app-footer></app-footer>
  </div>     
</div>
