<app-titulo class="text-center" [titulo]="'Stefanini - Hackathon 2021'"></app-titulo>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Darshboard</title>
</head>
<body>
  <h5>Hackathon</h5>
  
  <p>Hackathon (palavra-valise inglesa, formada pelos vocábulos to hack, 'fatiar', 'quebrar', 'alterar ou ter acesso a um arquivo ou rede', e marathon, maratona), termo eventualmente aportuguesado para "hackaton," é uma maratona de programação na qual hackers se reúnem por horas, dias ou até semanas, a fim de explorar dados abertos, desvendar códigos e sistemas lógicos, discutir novas ideias e desenvolver projetos de software ou mesmo de hardware. Por ser um evento público (também referido como hack day, hackfest ou codefest), a maratona dá visibilidade e transparência a essas atividades, além de divulgar os novos produtos gerados.</p>

  <h5>Origem</h5>

  <p>O termo parece ter sido criado em junho de 1999, nos Estados Unidos, por desenvolvedores de OpenBSD, durante um encontro de 10 desenvolvedores para criar uma nova criptografia, ou, na mesma época, durante uma conferência da Sun, quando os participantes foram desafiados a escrever um programa em Java.

    Embora o evento tenha essa provável origem, na história é possível observar outros tipos de eventos como Maratonas de Programação que também envolviam a produção de código em um evento. Porém, a diferença entre Hackathons e as simples Maratonas de Programação é que Hackathons têm temas específicos, números de participantes, regras de apresentação dos resultados e regulamentos a respeito da utilização desses projetos, já as Maratonas de Programação são mais focadas em desenvolvimento de código sem a proposta de solução de um problema e geralmente acontecem em apenas um dia.</p>
  <h5>Startups</h5>
  <p>Hoje tem se tornado comum utilizar hackathons como competições para a solução de problemas reais de instituições, empresas, escolas e até de casais com problemas em seu relacionamento. As hackathons além de reunirem os hackers de programação, têm contado com hackers sociais, hackers de negócios, hackers de design, dentre outros tantos tipos de hackers com diferentes habilidades que tem se reunido para solucionarem os mais diversos problemas.</p>   

     
    
  <app-footer></app-footer>
</body>
</html>